.SearcherContainer{

}
.SearcherInput{
    padding: 0.7rem;
    width: 30vw;
    border-radius: 10px;
    border: none;
    background-color: var(--backgroundLight);
}

@media (max-width: 450px) {
    .SearcherInput{
        width: 1vw;
        border-radius: 1px;
    }
}