.CodeEditorPageContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .EditorButtons{

    align-self: end;
  .ApplyCodeButton {
    background-color: transparent;
    justify-self: right;
    border: none;
    margin: 10px;
  }
  }
  .EditorTabs{
    display: flex;
    margin: 1rem;
    gap: 1rem;
    button{
      width: 5rem;
    }
  }
}
