.MainPageContainer{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 1rem;
  justify-content: start;
  justify-self: center;
  .MainPageHeader{
  align-self: center;
  }
  .Editor{

  }
}

