.SideBarContainer{
    display: flex;
    flex-direction: row;
    height: 100vh;
    max-width: fit-content;
    min-width: fit-content;
    transition: width 0.3s;
}
.SideBarContainer.collapsed{
    width: 65px;

}
.SidebarWindow{
    background-color: var(--backgroundDark);

    width: 250px;
    min-width: 65px;
    transition: width 0.3s;
    overflow: auto;
}
.SidebarWindow.collapsed{
    width:  65px;
}

.ButtonList{
    display: flex;
    flex-direction: column;
}
.ButtonList label{
    font-weight: lighter;
    font-size: 14px;
    color: var(--textDisabled);
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 0;
}
.ButtonList button{
    margin: 1px 12px;
    height: 40px;
    padding: 10px;
    transition: height 0.3s;
    text-align: start;
    font-size: 18px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.SidebarWindowCloser{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    transition: translate 0.3s;
}
.SidebarWindowCloser.collapsed{
    translate: 20%;
}
.SidebarWindowCloser button{
    height: 40px;
    width: 40px;
    margin-bottom: 20px;
}
.ButtonList input {
    margin: 10px;
    background-color: var(--backgroundLight);
}

.SideBarDivider{
    border: 3px solid var(--backgroundLight);
    border-radius: 10px;
}
