.MainLayout{
    display: flex;
    flex-direction: row;
    height: 100vh;
    .sBar{
        display: flex;
        flex-direction: column;
        background-color: var(--backgroundDark);
        border-radius: 10px;
    }
}
@media (max-width: 650px) {
    .MainLayout{
        display: flex;
        flex-direction: column-reverse;
        height: 100vh;
        .sBar{
            display: flex;
            flex-direction: column;
            background-color: var(--backgroundDark);
            border-radius: 10px;
        }
    }
}

